Package: com.frostbitee08.8tracksnoads
Name: 8tracks No Ads
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disable Ads in the 8tracks app
Maintainer: Rocco Del Priore
Author: Rocco Del Priore
Section: Tweaks
Version: 0.0.1-2
Installed-Size: 16
