Package: com.frostbitee08.8TracksLimitless
Name: 8tracks No Ads
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Disables Ads and Enables Unlimited Skips in the iPhone 8TracksApp.
Maintainer: Rocco Del Priore
Author: Rocco Del Priore
Section: Tweaks
